<div id='new-user-page'>
	<div class='header'>
		<%= link_to '« Go back', users_path, class: 'link' %>
		<h1>Edit user</h1>
	</div>
	<div class='body'>
		<%= render 'users/forms/new' %>
	</div>
</div>